.header_navlist_item__link:hover, .header_navlist_item__link:focus {
    color: #FFA228;
}

.button:hover, .button:focus {
    scale: 1.1;
}

.menu_pizza_size_button:hover, .menu_pizza_size_button:focus {
    color: white;
    background: linear-gradient(to right, #FE9C1C, #FF5E2A);
    border: none;
}

.footer_icon:hover, .footer_phone:hover, .header__icon:hover, .footer_icon:focus, .footer_phone:focus, .header__icon:focus {
    opacity: 70%;
}

.footer_links_link_main:hover, .footer_links_link_main:focus, .footer_links_link:hover, .footer_links_link:focus {
    color: #FFA228;
}
