.button {
    background: linear-gradient(to right, #FE9C1C, #FF5E2A);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 4px 0;
    cursor: pointer;
    transition: scale 500ms ease-in-out;

}

.button.close {
    width: 124px;
}

.header_ico_list_button {
    width: 124px;
    height: 40px;
}

.burger_button, .cart_button {
    background-color: rgb(30, 7, 1);
    border: none;
    cursor: pointer;
}

.to_order_button {
    width: 194px;
    height: 62px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
}

.menu_filer_button {
    width: 200px;
    height: 62px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
}

.menu_pizza_size_button {
    width: 40px;
    height: 40px;
    color: #A3A3A3;
    border: 2px solid #A3A3A3;
    background: rgb(33, 10, 1);
    transition: color 250ms ease-in-out, background 250ms ease-in-out, border 250ms ease-in-out, scale 500ms ease-in-out;
}

.menu_pizza_ingradients_button {
    width: 194px;
    height: 38px;
    border: 2px solid #FF6432;
    color: #FF6432;
    background: rgb(33, 10, 1);
    transition: scale 500ms ease-in-out;
    margin-bottom: 20px;
}

.menu_pizza_order_button {
    width: 194px;
    height: 44px;
}

.events_more_button {
    width: 204px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
}


@media (max-width: 767px) {
    .menu_filer_button {
        width: 110px;
        height: 30px;
        font-size: 14px;
    }

    .menu_pizza_order_button {
        width: 118px;
        height: 28px;
        font-size: 10px;
    }

    .menu_pizza_ingradients_button {
        width: 118px;
        height: 28px;
        font-size: 10px;
        margin-bottom: 12px;
    }

    .menu_pizza_size_button {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .burger_button {
        display: none;
    }
}