h1, h2, h3, p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

body {
    background-color: rgb(30, 7, 1);
    font-family: "Mulish", sans-serif;
    color: white;
    overflow-x: hidden;
}

body.modal-open {
    overflow: hidden;
}

