.about_flex {
    display: flex;
    padding: 124px 40px;
}

.about_article {
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: relative;
}

.about_arrow {
    position: absolute;
    right: -80px;
    top: 50%;
}

.about_article_title {
    font-size: 68px;
    font-weight: 800;
    line-height: 1.1;
}

.about_article_text {
    color: #A3A3A3;
    font-size: 22px;
    line-height: 1.2;
}

.about_poster {
    position: relative;
}

.about_poster_pizza {
    position: absolute;
    top: -90px;
    right: -80px;
}

.about_poster_fries {
    position: absolute;
    bottom: -20px;
    left: -80px;
}

