.about {
    padding: 124px 0;

    &_flex {
        display: flex;
    }

    &_article {
        position: relative;

        &_title {
            font-size: 68px;
            font-weight: 800;
            line-height: 1.1;
            margin-bottom: 34px;
        }

        &_text {
            color: #A3A3A3;
            font-size: 22px;
            line-height: 1.2;
        }

        &_img {
            margin-bottom: 34px;
        }
    }

    &_arrow {
        position: absolute;
        right: -80px;
        top: 50%;
    }

    &_poster {
        position: relative;

        &_pizza {
            position: absolute;
            top: -90px;
            right: -80px;
        }

        &_fries {
            position: absolute;
            bottom: -20px;
            left: -80px;
        }
    }
}


@media (max-width:767px) {
    .about {
        padding: 40px 0;
        &_flex {
            flex-direction: column;
        }

        &_poster{
            order: -1;
            margin: 0 auto;

            &_img {
                width: 300px;
                height: 320px;
            }

            &_fries {
                width: 100px;
                height: 108px;
                left: -20px;
                bottom: 10px;
            }

            &_pizza {
                width: 118px;
                width: 118px;
                right: 30px;
                top: -30px;
            }
        }

        &_article {
            &_title{
                font-size: 48px;
            }

            &_text {
                font-size: 14px;
                line-height: 1.4;
            }

            &_img {
                width: 340px;
            }
        }

        &_arrow {
            display: none;
        }
    }
}

@media (min-width:768px) and (max-width: 1254px) {
    .about {
        padding: 40px 0;
        &_flex {
            flex-direction: column;
        }

        &_poster {
            order: -1;
        }
        &_arrow {
            display: none;
        }
    }
}