.about {
    &_flex {
        display: flex;
        padding: 124px 40px;
    }

    &_article {
        display: flex;
        flex-direction: column;
        gap: 22px;
        position: relative;

        &_title {
            font-size: 68px;
            font-weight: 800;
            line-height: 1.1;
        }

        &_text {
            color: #A3A3A3;
            font-size: 22px;
            line-height: 1.2;
        }
    }

    &_arrow {
        position: absolute;
        right: -80px;
        top: 50%;
    }

    &_poster {
        position: relative;

        &_pizza {
            position: absolute;
            top: -90px;
            right: -80px;
        }

        &_fries {
            position: absolute;
            bottom: -20px;
            left: -80px;
        }
    }
}