.events {
    &_flex {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 24px;
    }

    &_poster {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 48px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.1;
        padding: 0 26px;
        height: 260px;

        &_egg {
            position: absolute;
            left: -120px;
            top: -140px;
        }

        &_buritto {
            position: absolute;
            right: -120px;
        }

        &_coffe {
            position: absolute;
            bottom: -90px;
            left: -120px;
        }

    }

    &_article {
        width: 340px;
        height: 200px;
        padding: 16px;

        &_title {
            font-size: 68px;
            font-weight: 800;
            line-height: 1.1;
            text-align: right;
            margin-bottom: 6px;
        }

        &_text {
            color: #A3A3A3;
            font-size: 20px;
            text-align: right;
        }
    }
}

.how_we_coocking_poster {
    background-image: url(../img/how_we_coocking.png);
    width: 368px;
}

.our_blog_poster {
    background-image: url(../img/our_blog.png);
    width: 396px;
}

.two_pizza_poster {
    background-image: url(../img/two_pizza.png);
    width: 500px;
    background-size: cover;
    border-radius: 30px;
    position: relative;
}

.kitchen_tour_poster {
    background-image: url(../img/kitchen_tour.png);
    width: 614px;
    position: relative;
}

.free_coffee_poster {
    background-image: url(../img/free_coffe.png);
    width: 400px;
    position: relative;
}

.our_instgram_poster {
    background-image: url(../img/our_instagram.png);
    width: 400px;
}

.where_poster {
    background-image: url(../img/where.png);
    width: 320px;
    border-radius: 30px;
}


@media (max-width: 767px) {
    .events {

        &_flex {
            gap: 10px;
            justify-content: center;
        }


        &_article {
            order: -1;

            &_title {
                font-size: 48px;
            }

            &_text {
                font-size: 16px;

            }
        }

        &_poster {
            width: 340px;
            border-radius: 40px;
            
            &_egg {
                width: 200px;
                height: 230px;
                left: -80px;
                top: -110px
            }

            &_buritto {
                width: 200px;
                height: 230px;
                right: -90px;
            }

            &_coffe {
                width: 200px;
                height: 230px;
                left: -80px;
                bottom: -80px;
            }
        }
    }
    
}

@media (min-width:768px) and (max-width: 1254px) {
    .events {
        &_flex {
            justify-content: space-around;
        }

        &_article {
            width: 300px;
        }

        &_poster {
            width: 300px;
            border-radius: 40px;

            &_egg {
                top: -80px;
                left: -100px;
                width: 200px;
                height: 230px;
            }

            &_buritto {
                width: 200px;
                height: 250px;
                left: -120px;
                bottom: -150px;
            }

            &_coffe {
                width: 200px;
                height: 200px;
                left: 220px;
                top: -80px;
            }
        }
    }
}

