.footer {
    background-color: #170A00;
    padding: 64px 0;

    &_links {
        display: flex;
        align-content: center;
        gap: 84px;

        &_list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 90px;
        }

        &_item {
            font-size: 18px;
            line-height: 1.26;
        }

        &_link {
            text-decoration: none;
            color: #515151;
            transition: color 250ms ease-in-out;

            &_main {
                text-decoration: none;
                color: #A3A3A3;
                font-size: 20px;
                line-height: 1.26;
                transition: color 250ms ease-in-out;
            }
        }
    }

    &_logo {
        align-self: first baseline;
    }

    &_contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_social {
            display: flex;
            gap: 10px;
        }
    }

    &_phone {
        color: #FFA32B;
        text-decoration: none;
        font-size: 22px;
        line-height: 1.26;
        transition: opacity 250ms ease-in-out;
    }
}


@media (max-width: 767px) {
    .footer {
        &_links {
            flex-wrap: wrap;
            gap: 50px;

            &_logo {
                width: 100%;
            }

            &_list {
                margin: 0;
            }
        }

        &_contacts {
            padding-top: 40px;
        }

        &_phone {
            font-size: 14px;
        }

        &_icon {
            width: 20px;
            height: 20px;
        }
    }
}

@media (min-width:768px) and (max-width: 1254px) {
    .footer {
        &_links {
            gap: 30px;
            margin-bottom: 40px;
            &_list{
                margin-bottom: 0;
            }
        }
    }
}