.footer {
    background-color: #170A00;
    padding: 64px 0;

    &_lists {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &_navigation_list {
        &_title {
            display: block;
            margin-bottom: 20px;

            &_link {
                color: #A3A3A3;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.26;
                text-decoration: none;
                margin-bottom: 20px;
                transition: color 250ms ease-in-out;
            }
        }

        &_item {
            margin-bottom: 12px;
        }

        &_link {
            color: #515151;
            font-size: 18px;
            line-height: 1.26;
            text-decoration: none;
            transition: color 250ms ease-in-out;
        }

    }

    &_logo {
        align-self: first baseline;
    }

    &_contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_social {
            display: flex;
            gap: 10px;
        }
    }

    &_phone {
        color: #FFA32B;
        text-decoration: none;
        font-size: 22px;
        line-height: 1.26;
        transition: opacity 250ms ease-in-out;
    }
}


@media (max-width: 767px) {
    .footer {
        padding: 40px 0;

        &_lists {
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 40px;
            margin-bottom: 0;
        }

        &_navigation_list {
            width: 130px;

            &_title_link {
                font-size: 16px;
            }

            &_link {
                font-size: 14px;
            }

        }
    

        &_logo {
            width: 100%;
            margin-bottom: 20px;
        }

        &_navigation {
            margin-bottom: 28px;
        }

        &_phone {
            font-size: 14px;
        }

        &_icon {
            width: 20px;
            height: 20px;
        }
    }
}

@media (min-width:768px) and (max-width: 1254px) {
    .footer {
        &_links {
            gap: 30px;
            margin-bottom: 40px;
            &_list{
                margin-bottom: 0;
            }
        }
    }
}