.footer {
    background-color: #170A00;
    padding: 64px 0;
}

.footer_links {
    display: flex;
    align-content: center;
    gap: 84px;
}

.footer_logo {
    align-self: first baseline;
}

.footer_links_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 90px;
}

.footer_links_item {
    font-size: 18px;
    line-height: 1.26;
}

.footer_links_link {
    text-decoration: none;
    color: #515151;
}

.footer_links_link_main {
    text-decoration: none;
    color: #A3A3A3;
    font-size: 20px;
    line-height: 1.26;
}

.footer_contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_contacts_social {
    display: flex;
    gap: 10px;
}

.footer_phone {
    color: #FFA32B;
    text-decoration: none;
    font-size: 22px;
    line-height: 1.26;
}