.header {
    &_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_navlist {
        display: flex;
        gap: 80px;

        &_item {
            padding: 40px 0;

            &__link {
                color: #A3A3A3;
                font-size: 18px;
                line-height: 1.1;
                text-decoration: none;
                transition: color 250ms ease-in-out;
            }
        }
    }

    &_ico_list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}