.header {
    &_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_navlist {
        display: flex;
        gap: 80px;

        &_item {
            padding: 40px 0;

            &__link {
                color: #A3A3A3;
                font-size: 18px;
                line-height: 1.1;
                text-decoration: none;
                transition: color 250ms ease-in-out;
            }
        }
    }

    &_ico_list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    right: -100%;
    background-color: rgb(33, 10, 1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: right 250ms ease-in-out;
    font-size: 20px;
    padding: 10px;

    &_list{
        display: flex;
        flex-direction: column;
        gap: 30px;

        &_item__link {
            color: #A3A3A3;
            text-decoration: none;
            transition: color 250ms ease-in-out;
        }
    }

    &_phone {
        color: #FFA32B;
        text-decoration: none;
        transition: opacity 250ms ease-in-out;
    }
}

.mobile-menu.is-open {
    right: 0;
}

@media (max-width: 767px) {
    .container {
        width: 380px;
        padding: 0 10px;
    }

    .header {
        &_navlist {
            display: none;
        }

        &_flex {
            gap: 60px;
        }

        &_ico_list {
            gap: 10px;
        }

        &_ico_list_button {
            display: none;
        }
    }

}

@media (min-width:768px) and (max-width: 1254px) {
    .container {
        width: 768px;
    }

    .header {
        gap: 10px;

        &_navlist {
            gap: 10px;
        }
    }
    
}