.header {
    &_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_navlist {
        display: flex;
        gap: 80px;

        &_item {
            padding: 40px 0;

            &__link {
                color: #A3A3A3;
                font-size: 18px;
                line-height: 1.1;
                text-decoration: none;
                transition: color 250ms ease-in-out;
            }
        }
    }

    &_ico_list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}


@media (max-width: 767px) {
    .container {
        width: 380px;
        padding: 0 10px;
    }

    .header {
        &_navlist {
            display: none;
        }

        &_flex {
            gap: 60px;
        }

        &_ico_list {
            gap: 0;
        }

        &_ico_list_button {
            display: none;
        }
    }

}

@media (min-width:768px) and (max-width: 1254px) {
    .container {
        width: 768px;
    }

    .header {
        &_navlist {
            gap: 20px;
        }
    }
    
}