.hero {
    &_flex {
        display: flex;
        justify-content: space-between;
    }

    &_title {
        position: relative;
        
        &_text_spacing {
            word-spacing: 80px;
        }

        &_arrow {
            position: absolute;
            right: 40px;
            top: 20px;
        }

        &_lightning {
            position: absolute;
            left: 84px;
            bottom: -10px;
        }

        &_text {
            font-weight: 800;
            font-size: 68px;
            line-height: 1.1;
            margin-bottom: 40px;
        }
    }

    &_article_text {
        font-size: 20px;
        color: #A3A3A3;
    }

    &_slogan {
        margin-bottom: 36px;
    }

    &_article_video {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 60px;
    }

    &_poster {
        position: relative;

        &_fries {
            position: absolute;
            bottom: -80px;
            left: -150px;
        }

        &_pizza {
            position: absolute;
            top: -100px;
            right: -110px;
        }
    }

}

.white_text {
    color: white;
}

iframe {
    border-radius: 30px;
}

.order_arrow {
    position: relative;

    &_icon {
        position: absolute;
        right: 120px;
        top: -30px;
    }
}