.hero_flex {
    display: flex;
    justify-content: space-between;
}

.hero_title {
    position: relative;
}

.hero_title_text_spacing {
    word-spacing: 80px;
}

.hero_title_arrow {
    position: absolute;
    right: 40px;
    top: 20px;
}

.hero_title_lightning {
    position: absolute;
    left: 84px;
    bottom: -10px;
}

.hero_title_text {
    font-weight: 800;
    font-size: 68px;
    line-height: 1.1;
    margin-bottom: 40px;
}

.hero_article_text {
    font-size: 20px;
    color: #A3A3A3;
}

.white_text {
    color: white;
}

.hero_slogan {
    margin-bottom: 36px;
}

.hero_article_image {
    margin-bottom: 58px;
}

.hero_article_video {
    position: relative;
}

.hero_article_play {
    position: absolute;
    top: 90px;
    left: 104px;
}

.order_arrow {
    position: relative;
}

.order_arrow_icon {
    position: absolute;
    right: 120px;
    top: -30px;
}

.hero_poster {
    position: relative;
}

.hero_poster_fries {
    position: absolute;
    bottom: -80px;
    left: -150px;
}

.hero_poster_pizza {
    position: absolute;
    top: -100px;
    right: -110px;
}