.hero {
    &_flex {
        display: flex;
        justify-content: space-between;
    }

    &_title {
        position: relative;
        
        &_text_spacing {
            word-spacing: 40px;
        }

        &_arrow {
            position: absolute;
            right: 30px;
            top: 20px;
        }

        &_lightning {
            position: absolute;
            right: 53%;
            bottom: 0;
        }

        &_text {
            font-weight: 800;
            font-size: 68px;
            line-height: 1.1;
            margin-bottom: 40px;
        }
    }

    &_article_text {
        font-size: 20px;
        color: #A3A3A3;
    }

    &_slogan {
        margin-bottom: 36px;
    }

    &_article_video {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 60px;
    }

    &_poster {
        position: relative;

        &_fries {
            position: absolute;
            bottom: -80px;
            left: -150px;
        }

        &_pizza {
            position: absolute;
            top: -100px;
            right: -110px;
        }
    }

}

.white_text {
    color: white;
}

iframe {
    border-radius: 30px;
}

.order_arrow {
    position: relative;

    &_icon {
        position: absolute;
        right: 120px;
        top: -30px;
    }
}


@media (max-width: 767px) {
    .hero {
        &_flex {
            flex-direction: column;
            gap: 20px;
        }

        &_article {
            order: 2;

            &_video {
                margin-bottom: 0;
            }
        }

        &_poster {
            align-self: center;

            &_img {
                width: 240px;
                height: 364px;
            }

            &_fries {
                width: 110px;
                height: 118px;
                bottom: -30px;
                left: -40px;
            }

            &_pizza {
                width: 130px;
                height: 130px;
                top: -40px;
                right: -40px;
            }

        }

        &_title {
            &_text {
                font-size: 48px;

                &_spacing {
                    word-spacing: 30px;
                }
            }

            &_arrow {
                display: none;
            }

            &_lightning {
                width: 34px;
                height: 60px;
                top: 50px;
                left: 140px;
            }
        }
    }

    .order_arrow {
        display: none;
    }

    .to_order_button{
        display: none;
    }
}

@media (min-width:768px) and (max-width: 1254px) {
    .hero {
        &_title{
            &_text{
                font-size: 56px;
            }

            &_arrow {
                right: 20px;
            }

            &_lightning {
                width: 60px;
                height: 80px;
                bottom: 44px;
                left: 160px;
            }
        }

        &_poster {
            &_img {
                width: 244px;
                height: 364px;
            }

            &_pizza {
                width: 130px;
                height: 130px;
                top: -40px;
                right: -40px;
            }

            &_fries {
                width: 110px;
                height: 120px;
                top: 40%;
                left: -40px;
            }
        }

        &_article {
            &_video {
                margin-bottom: 20px;
            }
        }


    }

    .order_arrow_icon {
        width: 140px;
        height: 80px;
        top: -40px;
    }

    
}