.menu {
    padding: 36px 0;

    &_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    &_filter {
        display: flex;
        gap: 42px;
    }

    &_title {
        font-size: 68px;
        font-weight: 800;
        line-height: 1.1;
    }

    &_popular_poster {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 286px;
        background-image: url(../img/most_popular_poster.png);
        border-radius: 50px;

        &_title {
            font-size: 44px;
            line-height: 1.1;
            font-weight: 500;
        }
    }

    &_pizza {
        display: flex;
        gap: 30px;

        &_card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 260px;
            height: 460px;
            background-color: rgb(33, 10, 1);
            border-radius: 30px;
            padding: 120px 20px 20px 20px;
        }

        &_image {
            position: absolute;
            top: -70px;
        }

        &_name {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.1;
        }

        &_desc {
            font-size: 14px;
            line-height: 1.1;
            color: #A3A3A3;
        }

        &_size {
            display: flex;
            gap: 36px;
        }

        &_price {
            font-size: 26px;
            font-weight: 500;
            line-height: 1.1;
        }
    }
}


@media (max-width: 767px) {
    .menu {
        &_flex {
            gap: 70px;
        }

        &_filter {
            flex-wrap: wrap;
            gap: 10px
        
        }

        &_title {
            font-size: 48px;
        }

        &_popular_poster {
            width: 360px;
            height: 160px;
            background-size: cover;

            &_title {
                font-size: 26px;
            }
        }

        &_pizza {
            flex-wrap: wrap;

            &_card {
                width: 160px;
                height: 280px;
                padding: 40px 10px 10px 10px;
                gap: 10px;
            }

            &_image {
                width: 96px;
                height: 96px;
                top: -50px
            }

            &_desc {
                font-size: 10px;
            }

            &_name {
                font-size: 16px;
            }

            &_size {
                gap: 20px;
            }

            &_price {
                font-size: 16px;
            }
        }
    }
}

@media (min-width:768px) and (max-width: 1254px) {
    .menu{
        &_filter{
            flex-wrap: wrap;
            justify-content: center;
        }

        &_pizza {
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 60px;
        }
    }
}