.menu {
    padding: 36px 0;

    &_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    &_filter {
        display: flex;
        gap: 42px;
    }

    &_title {
        font-size: 68px;
        font-weight: 800;
        line-height: 1.1;
    }

    &_popular_poster {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 286px;
        background-image: url(../img/most_popular_poster.png);
        border-radius: 50px;

        &_title {
            font-size: 44px;
            line-height: 1.1;
            font-weight: 500;
        }
    }

    &_pizza {
        display: flex;
        gap: 30px;

        &_card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 260px;
            height: 460px;
            background-color: rgb(33, 10, 1);
            border-radius: 30px;
            padding: 120px 20px 20px 20px;
        }

        &_image {
            position: absolute;
            top: -70px;
        }

        &_name {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.1;
        }

        &_desc {
            font-size: 14px;
            line-height: 1.1;
            color: #A3A3A3;
        }

        &_size {
            display: flex;
            gap: 36px;
        }

        &_price {
            font-size: 26px;
            font-weight: 500;
            line-height: 1.1;
        }
    }
}
