.menu {
    padding: 36px 0;
}

.menu_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.menu_filter {
    display: flex;
    gap: 42px;
}

.menu_title {
    font-size: 68px;
    font-weight: 800;
    line-height: 1.1;
}

.menu_popular_poster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 286px;
    background-image: url(../img/most_popular_poster.png);
    border-radius: 50px;
}

.menu_popular_poster_title {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 500;
}

.menu_pizza {
    display: flex;
    gap: 30px;
}

.menu_pizza_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 260px;
    height: 460px;
    background-color: rgb(33, 10, 1);
    border-radius: 30px;
    padding: 120px 20px 20px 20px;
}

.menu_pizza_image {
    position: absolute;
    top: -70px;
}

.menu_pizza_name {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}

.menu_pizza_desc {
    font-size: 14px;
    line-height: 1.1;
    color: #A3A3A3;
}

.menu_pizza_size {
    display: flex;
    gap: 36px;
}

.menu_pizza_price {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
}
